# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
examples/*.pkl

# Caches
.pytest_cache
.vscode

# Directories
.husky/
caches/
cicd/
dist/
docs/
examples/
graveyard/
logs/
scripts/
tests/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyBuilder
target/

# pyenv
.python-version

# Pylint
pylint.out

# Pyre type checker
.pyre/
