{$DOMAIN:localhost} {
    handle_path {$PATHS_BACKEND_ROOT:}/* {
        reverse_proxy api:8000 {
            transport http {
                dial_timeout 100s
                read_timeout 100s
                write_timeout 100s
            }
        }
    }
}
